.header {
  background-color: gray;
  height: 7vh;
  position: sticky;
  top: 0;
  background-image: url("/public/headerSW.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5%;
}
