:root {
  --color-dark-side: #b12424;
  --color-light-side: #0ff;
}
.header-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vh;
}
.side-span {
  margin-right: 15px;
  font-family: "Neon", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

.switch-btn {
  display: inline-block;
  width: 50px;
  height: 30px;
  border-radius: 19px;
  background: linear-gradient(
    to right,
    #fff 0,
    #bfbfbf 40%,
    #fa2b2b 60%,
    var(--color-dark-side) 100%
  );
  background-size: 180px 100%;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
  margin-right: 4vh;
}
.switch-btn::after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 17px;
  background: #fff;
  top: 7px;
  left: 3px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: var(--color-dark-side);
}
.switch-on::after {
  left: 30px;
}

@keyframes neonPulse {
  0% {
    text-shadow: 0 0 5px var(--color-light-side),
      0 0 5px var(--color-light-side), 0 0 5px var(--color-light-side),
      0 0 5px var(--color-light-side), 0 0 5px var(--color-light-side),
      0 05px var(--color-light-side), 0 0 5px var(--color-light-side),
      0 0 5px var(--color-light-side);
  }
  50% {
    text-shadow: 0 0 5px var(--color-light-side),
      0 0 5px var(--color-light-side), 0 0 5px var(--color-light-side),
      0 0 5px var(--color-light-side), 0 0 5px var(--color-light-side),
      0 0 5px var(--color-light-side), 0 0 5px var(--color-light-side),
      0 0 5px var(--color-light-side);
  }
  100% {
    text-shadow: 0 0 5px var(--color-light-side),
      0 0 10px var(--color-light-side), 0 0 20px var(--color-light-side),
      0 0 40px var(--color-light-side), 0 0 80px var(--color-light-side),
      0 0 90px var(--color-light-side), 0 0 100px var(--color-light-side),
      0 0 100px var(--color-light-side);
  }
}
@keyframes neonPulseDark {
  0% {
    text-shadow: 0 0 5px var(--color-dark-side), 0 0 5px var(--color-dark-side),
      0 0 5px var(--color-dark-side), 0 0 5px var(--color-dark-side),
      0 0 5px var(--color-dark-side), 0 05px var(--color-dark-side),
      0 0 5px var(--color-dark-side), 0 0 5px var(--color-dark-side);
  }
  50% {
    text-shadow: 0 0 5px var(--color-dark-side), 0 0 7px var(--color-dark-side),
      0 0 9px var(--color-dark-side), 0 0 11px var(--color-dark-side),
      0 0 13px var(--color-dark-side), 0 0 15px var(--color-dark-side),
      0 0 16px var(--color-dark-side), 0 0 19px var(--color-dark-side);
  }
  100% {
    text-shadow: 0 0 5px var(--color-dark-side), 0 0 10px var(--color-dark-side),
      0 0 20px var(--color-dark-side), 0 0 40px var(--color-dark-side),
      0 0 15px var(--color-dark-side), 0 0 18px var(--color-dark-side),
      0 0 80px var(--color-dark-side), 0 0 90px var(--color-dark-side);
  }
}

.side-span-light {
  color: #fff;
  animation: neonPulse 2s infinite;
}

.side-span-dark {
  color: rgb(0, 0, 0);
  animation: neonPulseDark 2s infinite;
}
